@model PostOfficeDomain.Model.Parcel

@{
    ViewData["Title"] = "Create";
}

<h1>Створити посилку</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Info" class="control-label"></label>
                <input asp-for="Info" class="form-control" />
                <span asp-validation-for="Info" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SenderId" class="control-label"></label>
                <select asp-for="SenderId" class ="form-control" asp-items="ViewBag.SenderId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ReciverId" class="control-label"></label>
                <select asp-for="ReciverId" class ="form-control" asp-items="ViewBag.ReciverId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DeparturePointsId" class="control-label"></label>
                <select asp-for="DeparturePointsId" class ="form-control" asp-items="ViewBag.DeparturePointsId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryPointsId" class="control-label"></label>
                <select asp-for="DeliveryPointsId" class ="form-control" asp-items="ViewBag.DeliveryPointsId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusId" class="control-label"></label>
                <select asp-for="StatusId" class ="form-control" asp-items="ViewBag.StatusId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CurrentLocationId" class="control-label"></label>
                <select asp-for="CurrentLocationId" class ="form-control" asp-items="ViewBag.CurrentLocationId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryAddress" class="control-label"></label>
                <input asp-for="DeliveryAddress" class="form-control" />
                <span asp-validation-for="DeliveryAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

