@model IEnumerable<PostOfficeDomain.Model.User>

<h2>Список користувачів</h2>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td> Користувач з номером @user.ContactNumber</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Права доступу</a>
            </td>
        </tr>
    }
</table>