<div class="text-center">
    <h1 class="display-4">Привіт!</h1>
    <p> Хочеш переглянути свої <a asp-action="Index" asp-controller="Parcels">посилки</a>
        , чи може створиш <a asp-action="Create" asp-controller="Parcels">нову</a>?</p>
</div>
